@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --radius: 0.625rem;
  --background: 255 255 255;
  --foreground: 37 37 37;
  --card: 255 255 255;
  --card-foreground: 37 37 37;
  --popover: 255 255 255;
  --popover-foreground: 37 37 37;
  --primary: 52 52 52;
  --primary-foreground: 251 251 251;
  --secondary: 247 247 247;
  --secondary-foreground: 52 52 52;
  --muted: 247 247 247;
  --muted-foreground: 142 142 142;
  --accent: 247 247 247;
  --accent-foreground: 52 52 52;
  --destructive: 239 68 68;
  --destructive-foreground: 248 250 252;
  --border: 235 235 235;
  --input: 235 235 235;
  --ring: 180 180 180;
}

.dark {
  --background: 37 37 37;
  --foreground: 251 251 251;
  --card: 52 52 52;
  --card-foreground: 251 251 251;
  --popover: 52 52 52;
  --popover-foreground: 251 251 251;
  --primary: 235 235 235;
  --primary-foreground: 52 52 52;
  --secondary: 69 69 69;
  --secondary-foreground: 251 251 251;
  --muted: 69 69 69;
  --muted-foreground: 180 180 180;
  --accent: 69 69 69;
  --accent-foreground: 251 251 251;
  --destructive: 220 38 38;
  --destructive-foreground: 248 250 252;
  --border: 26 26 26;
  --input: 38 38 38;
  --ring: 142 142 142;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}